body {
    background-color: #272727;
    color: #e4e1e1;
    font-family: Arial, sans-serif;
}

.league-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 20px;
    gap: 20px;
}
.fixture-container, .league-stats-container {
    flex: 1 1 45%;
    background-color: rgb(51, 51, 51);
    padding: 15px;
    border-radius: 8px;
}

.fixture-container h2, .league-stats-container h2 {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.fixture-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.65rem;
    background-color: rgb(68, 68, 68);
    margin-bottom: 5px;
    padding: 5px 9px;
    border-radius: 5px;
}

.match-date {
    width: 20%;
    color: rgb(187, 187, 187);
    font-size: 0.6rem;
    text-align: left;
}

.team {
    width: 30%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    color: rgb(238, 238, 238);
}

.score, .status {
    width: 20%;;
    text-align: center;
    color: rgb(204, 204, 204);
    font-weight: bold;
    font-size: 0.65rem;
}
.league-stats{
    font-size: 0.85rem;
}
.league-stats img{
    border-radius: 50%;
    width: 50px;
}
.logo-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 14px;
    padding: 15px;
    background-color: rgb(29, 29, 29);
}

.logo-container img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border: 2px solid rgb(68, 68, 68);
    border-radius: 10px;
    padding: 6px;
    background-color: rgb(42, 42, 42);
    cursor: pointer;
}

.logo-container img:hover {
    transform: scale(1.1);
    background-color: rgb(68, 68, 68);
}
footer{
    margin-top: 0;
    text-align: center;
}
.league-fixtures a {
    text-decoration: none;
    display: block;
    border: 1px solid rgb(0, 0, 0);
}

.league-fixtures a:hover {
    border-color: #4CAF50;
}